server:
  port: 8081

spring:
  application:
    name: User-service
  cloud:
    nacos:
      server-addr: 13.251.129.185:31352 # nacos地址
  datasource:
    url: jdbc:mysql://localhost:3306/nusteamproject1
    username: root
    password: 1234

mybatis:
  configuration:
    map-underscore-to-camel-case: true

knife4j:
  enable: true
  openapi:
    title: 用户接口文档
    description: "用户接口文档"
    concat: ISS-7
    version: v1.0.0
    group:
      default:
        group-name: ISS-7
        api-rule: package
        api-rule-resources:
          - com.example.demo.user.Controller



